<h5>Criar/Editar Aluno</h5>

<div class="col s12">
  <div class="row">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="nome" class="form-control" placeholder="Digite o nome" />
      </div>
      <br />
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Digite o e-mail"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
